@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
}


body{
  font-family: 'Poppins', sans-serif;
}

a {
  border: 4px solid rgba(214, 221, 179, 0.623);
  padding: 6px 10px;
  margin: 1px;
  background-color: #f1c40f6f;
  border-radius: 5px;
  font-family: 'Poppins',
  sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: rgb(0, 34, 255);
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
  }
h1 {
  background-color: tomato;
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  transition: width 2s, transform 2s;
  letter-spacing: 3mm;
  font-size: 2rem;
  color: white;
  width: auto;
  transform: rotate(360deg);
  font-style: italic;
}

p>a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(233, 189, 189);
  width: 30px;
  font-size: 20px;
}

#gul {
  border: 10px solid #f1c40f;
  border-radius: 50%;
  height: 400PX;
  box-shadow: 10px;
    box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.355);
}
.form {
  font-family: font-family: 'Poppins',
    sans-serif;
  linearGradient::after(:hover);
}
/* css for animation */

img[width="800px"] {
  border: 25px solid rgb(244, 206, 194);
  box-shadow: 10px 10px 20px -2px rgba(0,0,0,.5);
/* box-shadow: 15px 15px 15px 0px gray ; */
                                                  ;
}

* {
  box-sizing: border-box;
}

.skill-container {
  background-color: gray;
  width: 500px;
  padding: 20px;
}

.skill-container li {
  list-style-type: none;
  margin: 50px 0;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
}

.skill-container li::before {

  content: '';
  position: absolute;
  top: calc(100% + 5px);
  left: 0;


  background-color: rgb(170, 167, 173);
  width: 100%;
  height: 25px;
  border-radius: 1000px;
}

.skill-container li:hover {
  )
}

.skill-container li::after {

  content: '';
  position: absolute;
  top: calc(100% + 5px);
  left: 0;


  background-color: rgb(249, 249, 250);
  width: 0;
  height: 25px;
  border-radius: 1000px;


  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 1ms;
  animation-iteration-count: infinite;
  /*  */
  /* animation-direction: forward; */
  hover: (animation-fill-mode: forwards; )
}

.skill-container li.html::after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
    background-color: orange;
  }
}

.skill-container li.css::after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 80%;
    background-color: orangered;
  }

}

.skill-container li.js::after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 50%;
    background-color: rgb(106, 7, 255);
  }
}

.skill-container li.js::after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 50%;
    background-color: rgb(106, 7, 255);
  }
}

.skill-container li.bs::after {
  animation-name: bs;
}

@keyframes bs {
  to {
    width: 80%;
    background-color: rgb(41, 222, 162);
  }
}

.skill-container li.bs::after {
  animation-name: bs;
}

@keyframes bs {
  to {
    width: 80%;
    background-color: rgb(41, 222, 162);
  }
}

.skill-container li.java::after {
  animation-name: java;
}

@keyframes java {
  to {
    width: 55%;
    background-color: rgb(201, 255, 5);
  }
}

.skill-container li.cplus::after {
  animation-name: cplus;
}

@keyframes cplus {
  to {
    width: 25%;
    background-color: rgb(255, 5, 5);
  }
}

.skills-animation h2 {
  color: rgb(12, 255, 247);
  text-decoration: underline;
  -
}

h2 {
  color: rgb(0, 255, 170);
  text-decoration: underline;
  text-shadow: 10px;
  font-style: italic
}



iframe[loading="lazy"] {
  border: 20px solid #f1c40f;
  border-radius: 10px;
  font-weight: 700;
  font-stretch: extra-expanded;

margin: 15px;
padding: 15pt;
}
input {
  width: 250px;
  height: 40px;
  border: 5px solid rgba(72, 88, 232, 0.513);
  border-radius: 5px;
}

input:hover {
  background-color: rgb(137, 200, 149);
  border: 4px solid #fbf4d7;
  border-radius: 10px;

}

input:focus {
  background-color: rgba(153, 255, 255, 0.316);
  border: #ff0000c4;
  width: 40%;
  color: rgb(0, 0, 0);
  font-weight: 600px;

}

input[select]option {
  background-color: rgba(153, 255, 255, 0.316);
  border: #ff0000c4;



}

label {
  color: blue;
  text-transform: capitalize;
  font-size: 20px
}

button:hover {
  background-color: rgba(234, 152, 152, 0.333);

}

button {
  background-color: rgb(179, 226, 105);
  border: 2px solid rgba(192, 255, 222, 0.294);
  border-radius: 10px;
  padding: 8px 14px;
  font-weight: 600;
}

textarea {
  width: 350px;
  height: 250px;
  border: 8px solid rgb(255, 0, 25);
  border-radius: 20PX;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.171);
}

input[type="radio"] {
  width: auto;
  height: auto;
  border: 2px solid #f1c40f;
}

footer {
  width: 100%;
  height: 150px;
  background-color: rgba(189, 195, 156, 0.157);
  text-align: center;
  padding-top: 20px;
}